<div [hidden]="accounts" class="loader"></div>
<table [hidden]="!accounts">
	<thead>
		<tr>
			<th>Account</th>
			<th class="numeric">Value</th>
			<th class="numeric">Investment</th>
			<th class="numeric">Net Value</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let account of accounts" (click)="onSelect(account)" [class.selected]="account === selectedAccount" [class.positive]="account.current - account.invested >= 0" [class.negative]="account.current - account.invested < 0">
			<td>{{account.name}}</td>
			<td class="numeric">{{account.current | currency:'USD':true:'.2-2'}}</td>
			<td class="numeric">{{account.invested | currency:'USD':true:'.2-2'}}</td>
			<td class="numeric color">
				{{getNetValue(account) | currency:'USD':true:'.2-2'}}<br>
				<small><i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> {{getNetPercent(account) | percent:'.2-2'}}</small>
			</td>
		</tr>
	</tbody>
	<tfoot *ngIf="totals">
		<tr [class.positive]="totals.current - totals.invested >= 0" [class.negative]="totals.current - totals.invested < 0">
			<td>Total</td>
			<td class="numeric">{{totals.current | currency:'USD':true:'.2-2'}}</td>
			<td class="numeric">{{totals.invested | currency:'USD':true:'.2-2'}}</td>
			<td class="numeric color">
				{{getNetValue(totals) | currency:'USD':true:'.2-2'}}<br>
				<small><i class="fa fa-caret-up"></i><i class="fa fa-caret-down"></i> {{getNetPercent(totals) | percent:'.2-2'}}</small>
			</td>
		</tr>
	</tfoot>
</table>
<small class="pull-right">Accounts are updated every {{configService.getAppConfig().getAccountsInterval / 1000}} seconds.</small>
<ul>
	<li *ngFor="let account of accounts" (click)="onSelect(account)" [class.selected]="account === selectedAccount" [class.positive]="account.current - account.invested >= 0" [class.negative]="account.current - account.invested < 0">
		<span></span>
	</li>
</ul>

<div *ngIf="selectedAccount">
	<h2>{{selectedAccount.name}} account is valued at {{selectedAccount.current | currency:'USD':true:'.2-2'}} with {{selectedAccount.invested | currency:'USD':true:'.2-2'}} invested. It is currently netting a profit of {{selectedAccount.current - selectedAccount.invested | currency:'USD':true:'.2-2'}}.</h2>
</div>