$color-primary: rgba(75, 169, 223, 1.0);
$color-secondary: rgb(140, 140, 140);
$color-alt-row: rgba(246, 246, 246, 1.0);
$color-border: rgba(203, 203, 203, 1.0);

$color-success: rgba(60, 118, 61, 1.0);
$color-warning: rgba(169, 68, 66, 1.0);

$section-radius: 5px;